.container:first-child {
  margin-top: 1.5rem;
}

.taskBox {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--gray-400);
  padding: 1rem;
  border-radius: 8px;
}

button {
  background: transparent;
  border: 0;
}

.checkbox {
  color: var(--blue)
}

.checkbox:hover {
  color: var(--dark-blue);
  transition: 0.1s;
}

.checkedCheckbox {
  color: var(--dark-purple);
}

.checkedCheckbox:hover {
  color: var(--purple);
  transition: 0.1s;
}

.trashIcon {
  color: var(--gray-300);
}

.trashIcon:hover {
  color: var(--red);
  transition: 0.1s;
}

.taskText {
  width: 100%;
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.225;
  padding: 0 0.75rem
}