.content {
  margin-top: -27px;
  padding: 0 22rem;
}

.form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 90px;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.form textarea {
  height: 3.375rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  resize: none;
  overflow: hidden;
  padding: 1rem;
  line-height: 1.375;
  font-weight: 400;
  color: var(--gray-300);
}

.form textarea:hover {
  border: 1px solid var(--dark-purple);
  border-radius: 8px;
}

.form button {
  height: 3.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--dark-blue);
  color: var(--gray-100);
  border: 0;
  border-radius: 8px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.form button:hover:active {
  background: var(--blue);
  transition: 0.1s;
}

.form button:disabled {
  opacity: 0.9;
}

.header {
  margin-top: 4.0625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

.tasks, .doneTasks {
  font-size: 0.875rem;
  line-height: 1.0625;
}

.tasks {
  color: var(--blue);
}

.doneTasks {
  color: var(--purple);
}

.tasksCounter, .doneTasksCounter {
  font-size: 0.75rem;
  line-height: 0.9375;
  background: var(--gray-400);
  color: var(--gray-200);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
}
